@charset "UTF8";

/* Cargar las fuentes */
@font-face {
	font-family: OpenDislexic;
	src: url(OpenDyslexic3-Regular.ttf);
}

@font-face {
	font-family: OpenDislexic;
	src: url(OpenDyslexic3-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: Roboto;
	src: url(Roboto-Regular.ttf);
}

@font-face {
	font-family: Roboto;
	src: url(Roboto-Bold.ttf);
	font-weight: bold;
}

/* Fuente Roboto y border-box para todos los elementos */
* {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

/* El estilo está orientado a ordenadores de escritorio (Desktop first).
	Este es el diseño común. Más adelante, se realizan ajustes para que sea
	responsive.
	Nos aprovecharemos de la prioridad en cascada para que los estilos prioritarios
	sean los de pantallas más reducidas
 */
@media screen {

	/* Ajustes generales */
	html,
	body {
		margin:0;
		padding:0;
		background-color: white;
		min-height: 100vh;
	}

	body {
		position: relative;
		padding-bottom: 76px;
	}
	
	#todo {
		margin: 0 auto;
	}

	.contenido{
		background-color:white;
		padding: 0 0;
	}

	p {
		margin:0px;
		padding:0px;
	}
	
	ul {
		padding-left: 5px;
	}
	

	/* Header, título y logo  */
	header {
		background:rgb(240, 232, 224);
		min-height:50px;
		padding: 5px 10% 5px;
		border-top:20px solid #ef1717;
		display: flex;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
	}

	div.logocontainer {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: left;
	}
	
	
	header .logo {
		padding:10px;
	}

	header .logo img{
		width: 200px;
	}
	
	
	header .titulo{
		padding-left: 20px;
	}

	header .titulo a, 
	header .titulo a:hover, 
	header .titulo a:visited{
		text-decoration:none;	
		
	}
	header .titulo a h1 {
		color:#09b955;
	}

	/* Barra de navegación */
	nav.barraNav > ul {	
		list-style-type:none;
		margin:0;
		padding:0;
		margin-bottom:0.2em;
		display:flex;
		flex-direction: row;

	}
	
	nav.barraNav ul li {
		margin: 0 10px;
		text-decoration: none;
		list-style-type: none;
		color: #094e1f;
	}

	nav.barraNav ul li:hover {
		font-weight: bold;
	}
	
	nav.barraNav li a {	
		display: block;
		text-decoration:none;
	    color: #4c4c4c;
	    text-align:center;
	    line-height:40px;    
	
	}
	
	nav.barraNav li a:hover {
		text-decoration: none;
	    color: #094e1f;
	}
	
	nav.barraNav li a:active, nav.barraNav li a:focus, nav.barraNav li a:visited {
		text-decoration:none;
	}
	

	/* Barra de localización */

	#barraLocalizacion {
		border-left: 3px ridge rgb(100, 100, 100);
		border-right: 3px ridge rgb(100, 100, 100);
	}

	#barraLocalizacion {
		background-color: rgb(240, 232, 224);;
	}

	/* Pié de página*/

	footer {
		position: absolute;
  		bottom: 0;
		width: 100%;
		max-height: 76px; 
		background-color:#f8ce9d;
		padding: 15px 5px;
		text-align: center;
		font-size: smaller;

		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		
	}
	
	footer h2 {
		color:#56391a;
	}
	
	footer h2 span {
		font-size: 1.3rem;
		margin: 0 0.6rem;
	}

	/* Empecemos */
	article h1, article h2{
		text-align: center;
	}

	/* Diseño de la portada del home */

	main.portada {
		margin: 0;
		text-align: center;
		background-image: linear-gradient(
			rgba(0, 230, 142, 0.5),
			rgba(0, 230, 142, 0.5)
		  ), url(../imagenes/web/papabellotasMain.jpg);
		background-position: center center;
    	background-size: cover;
		color: white;
		padding: 150px 0;
	}

	main.portada p {
		font-size: 3em;
		margin: 0;
		padding: 0;
	}

	/* Diseño de la galería de presentación en el home*/

	section.presentacion {
		min-width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	section.presentacion article {
		width: 48%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 2em;
		padding: 0 5%;
	}

	section.presentacion img {
		width: 48%;
		margin: 1%;
	}


	/* Sección con botones de contacto y reserva.
	Los botones tienen animación */

	section.precioContacto {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 40px 0;
		background-color: #09b955;
		color: white;
		font-size: 2em;
	}

	section.precioContacto a {
		margin: 20px 0 0;
		text-decoration: none;
		font-size: 0.5em;
		padding: 10px;
		border: 3px solid white;
		background-color: #ef9b17;
		color: white;
		font-weight: bold;
		animation: agitar 3s;
		animation-iteration-count: infinite;
	}

	section.precioContacto a.delay {
		animation-delay: 0.6s;
	}

	section.precioContacto a:hover {
		border: 3px solid rgb(255, 141, 10);
		background-color: #f8bb59;
		color: rgb(255, 141, 10);
	}

	@keyframes agitar {
		0% { transform: translate(2px, 2px) rotate(0deg) scale(1); }
		5% { transform: translate(-2px, -4px) rotate(-2deg) scale(1.3); }
		10% { transform: translate(-6px, 0px) rotate(2deg) scale(1.3); }
		15% { transform: translate(6px, 4px) rotate(0deg) scale(1.3); }
		20% { transform: translate(2px, -2px) rotate(2deg) scale(1.3); }
		25% { transform: translate(0, 0) rotate(0deg) scale(1.3); }
		30% { transform: translate(2px, 2px) rotate(0deg) scale(1.3); }
		35% { transform: translate(-2px, -4px) rotate(-2deg) scale(1.3); }
		40% { transform: translate(-6px, 0px) rotate(1deg) scale(1.3); }
		45% { transform: translate(6px, 4px) rotate(0deg) scale(1.3); }
		50% { transform: translate(2px, -2px) rotate(2deg) scale(1.3); }
		55% { transform: translate(0, 0) rotate(0deg)  scale(1); }
		100% { transform: translate(0, 0) rotate(0deg)  scale(1); }
	  }


	/* Diseño de la página turismo*/
	section.turismo{
		margin: 0 15%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	

	article.articuloTurismo {
		width: 90%;
		margin: 0 auto 30px;
		display: grid;
		grid-template-areas: 
			"tit tit tit" 
			"img tex tex" ;
		grid-template-columns: repeat(3, 1fr);
		gap: 2%;
	}

	article.articuloTurismo h2 {
		color: #ef9b17;
		text-transform: uppercase;
		grid-area: tit;
	}

	article.articuloTurismo img {
		grid-area: img;
		max-width: 100%;
	}

	article.articuloTurismo p {
		grid-area: tex;
		text-align: justify;
	}

	/* Estilo del buscador en la página de reservas*/

	div.buscador {
		box-shadow: 0px 5px 5px 0 gray;
		border-radius: 10px;
		margin: 20px 15%;
		padding: 20px 0;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}

	div.buscador div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		gap: 5px;
	}

	/* Estilo de una ventana de mensajes */
	div.mensajes {
		box-shadow: 0px 5px 5px 0 gray;
		border-radius: 10px;
		background-color: #f8bb59;
		margin: 20px 15%;
		padding: 20px 0;
		text-align: center;
	}

	/* Resultado de la búsqueda */
	div.contResultados {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 2vh 2%;
		margin-bottom: 3vh;
	}

	a.linkPlaza {
		max-width: 23%;
		text-decoration: none;
		color:black;
	}

	div.plaza{
		border: 2px solid #094e20;
		border-radius: 20px;
		padding: 20px;
		display: grid;
		gap: 3px;
		grid-template-columns: 1fr 1.5fr;
		/* background: linear-gradient(90deg, rgba(242,251,236,1) 0%, rgba(192,255,156,1) 100%); */
		transition: transform .2s;
	}

	div.plaza:hover {
		border: 2px solid #359856;
		background: linear-gradient(90deg, rgb(252, 255, 250) 0%, rgb(221, 255, 201) 100%);
		transform: scale(1.1);
		z-index: 1;
	}

	div.plaza ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		
	}

	div.plaza h3 {
		margin-top: 0;
		grid-column-start: 1;
		grid-column-end: 3;
	}

	div.plaza img {
		width: 100%;
		box-shadow: 1px 1px 5px 1px gray;
	}

	/* Estilo para reservar plaza */

	div.botonesReserva form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}

	/* Hay inputs que tienen la propiedad readonly por necesidad.
		Aquí se define el estilo para que no parezcan inputs*/
	input.camuflaje[id=personas] {
		width: 2em;
	}
	
	input.camuflaje[id=precio_total] {
		width: 5em;
	}

	input.camuflaje[readonly] {
		text-align: center;
		font-weight: bold;
		font-size: 1.5em;
		background-color: transparent;
		color: black;
		border: none;
	}

	/* Definición del estilo de las opciones de INICIAL */

	div.contenedorOpciones {
		text-align: center;
		border: 1px solid rgb(145, 145, 145);
		border-radius: 10%;
		margin: 0 35%;
		padding: 10px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		border: 1px solid rgb(145, 145, 145);
		border-radius: 10%;
		background-color: #c2ffd3;
		box-shadow: inset 15px 15px 20px -14px rgba(255,255,255,1), inset -15px -15px 20px -22px rgba(0,0,0,1);;

	}

	div.opciones {
		width: 100%;
		border: 1px solid rgb(145, 145, 145);
		border-radius: 10%;
		margin: 0 auto;
		padding: 10px;
		background-color: white;
		
	}

	/* Contenedor para datos de los cruds*/
	div.datosCrud {
		margin: 2vh 0 4vh;
	}

	/* Definición del estilo de los formularios */
	
	div.contenedorForm {
		margin: 0 35% 20px;
	}

	div.contenedorForm h2 {
		text-align: center;
	}

	div.contenedorForm form{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: left;
		gap: 10px;
	}


	/* Definición del estilo de la información */

	div.contenedorInfo {
		display: flex;
		flex-direction: column;
		gap:10px;
		justify-content: center;
		align-items: center;
		border: 1px solid rgb(145, 145, 145);
		border-radius: 10%;
		background-color: #c2ffd3;
		box-shadow: inset 15px 15px 20px -14px rgba(255,255,255,1), inset -15px -15px 20px -22px rgba(0,0,0,1);
		margin: 5vh 25%;
		padding: 15px;
	}

	div.datosInfo {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding: 10px 20px;
		background-color: white;
		border: 1px solid rgb(145, 145, 145);
		border-radius: 10%;
	}

	div.datosInfo ul { 
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: left;
		gap: 0.2em;
	}

	img.imagenInfo {
		width: 30%;
		aspect-ratio: 1/1;
		margin: 10px;
	}


	/* Estilos para casos de error */
	.error{
		border: red thin solid;
		background-color:#ffb1c7;
		color: red;
		display: inline;
	}

	article.pantallaError {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#logo_pag_error{
		width: 100px;
		height: 100px;
	}
	#mensaje_pag_error{
		font-size: x-large;
	}

	article div.par{
		background-color: #52e0cb;
		color:black;
	} 
	 
	article div.impar{
		background-color: blue;
		color:white;
	} 
	
	
	/* Mismo estilo para (casi) todos los botones */
	
	button, input[type=button], input[type=submit]{
		margin: 5px 10px;
		padding: 10px;
		border: none;
		border-radius: 5px;		
		background-color: #094e20;
		color: white;
		font-weight: bold;
	}

	button:hover, input[type=button]:hover, input[type=submit]:hover  {
		background-color: #37c271;
	}

	button:disabled ,input[type=button]:disabled, input[type=submit]:disabled{	
		background-color: #727272;
	}

	button:hover:disabled,
	input[type=button]:hover:disabled,
	input[type=submit]:hover:disabled  {
		background-color: #929292;
	}


	/* Definiciones para el objeto CPager*/

	.pager{
		background-color: rgb(155, 194, 158);
		color:black;
		padding: 5px;
		margin: 0 5%;
		min-width: 90%;
	}
	
	.pager .izq{
		float: left;
		/*width: 40%;*/
		padding-left: 5px;
		color: white; 
	}
	
	.pager .der{
		float: right;
		/*width: 58%;*/
		text-align: right;
		padding-right: 5px;
	}
	
	.pager .der a{
		text-decoration: none;
		color:white;
		padding-left: 10px;
	}
	.pager .der a:hover{
		text-decoration: none;
		color:blue;
	}
	
	.pager .final{
		clear: both;
	}
	
	/* Definiciones de tabla para el objeto CGrid con el estilo por defecto clase tabla
	 */
	
	div.tabla{
        width: 100%;
		overflow: auto;
	}
	div.tabla table.tabla{
		background-color:rgb(119, 255, 185);
		border-collapse: collapse;
	}
	
	div.tabla table.tabla th{
		background-color: rgb(119, 255, 185);
		color:white;
	}
	
	div.tabla table.tabla tr.par{
		background-color: #ede6d8;
		color:black;
	}
	div.tabla table.tabla tr.impar{
		background-color: #f7eabf;
		color:black;
	}
	
	div.tabla table.tabla tr td{
		padding: 2px;
	}
	
	/*
	 * Definiciones de tabla para el objeto CGrid con estilo propio
	 */
	table.tabla1{
		margin: 0 5%;
		min-width: 90%;
		background-color: #b6c7cd;
		border-collapse: collapse;
	}
	
	table.tabla1 th{
		background-color: rgb(10, 172, 80);
		color:white;
		padding: 10px;
	}
	
	table.tabla1 tr.par{
		background-color: #f8f1c8;
		color:black;
	}
	table.tabla1 tr.impar{
		background-color: #ffe8ce;
		color:black;
	}
	
	table.tabla1 tr td{
		padding: 5px 10px;
	}
	

	/*
	 * Definiciones de estilo para el objeto CCaja con estilo propio
	 */

	.caja{
		background-color: rgb(139, 202, 177);
		border-radius: 5px;
		margin: 0 auto;
	}
	.caja tbody .titulo{
		margin: 10px;
	}

	.caja tbody .titulo th{
		padding: 0 10px;
	} 
	.caja tr.cuerpo{
		background-color: #d8fdea;
		color: black;
	}

	.caja .cuerpo td {
		padding: 10px;
		text-align: center;
		line-height: 1.8;
	}

	.caja .cuerpo td input, .caja .cuerpo td select{
		margin: 0 5px;
	}

	.cimg
	{
		color: rgb(245, 104, 69);
		background-color: #cfdfee;
		border: 2px solid black;
	}
	.cimg .cimg_tit
	{
		text-align: center;
		font-weight: bold;
		font-style: italic;
		font-size: medium;
	}

	

	/* Definición de aside (legado de anteriores versiones)*/
	aside {
		background: #fff4df;   
	    margin: 0 auto; 
	    /*max-width: 200px; */
	    border-top: solid thin black;
		border-bottom: solid thin black;
	    flex: 1 1 20%; 
	}

	aside.ubicacion {
		border: 0;
		background-color: rgb(240, 232, 224);
		padding:5px 5%;
	}
}

/* Ajustes de tamaño añadidos al estilo anterior */
/* Con menos de 1200px de ancho, las plazas en reservas se muestran 
de tres en tres, se reduce el margen de contenedorInfo y se reducen datos que
se muestran de las tablas*/
@media screen and (max-width: 1200px) {

	a.linkPlaza {
		max-width: 30%;
	}

	div.contenedorInfo {
		margin: 5vh 20%;
	}

	
	table.tabla1 tr td:nth-child(2),
	table.tabla1 tr th:nth-child(2){
		display: none;
	}

	table.tabla1 tr td:nth-last-child(2),
	table.tabla1 tr th:nth-last-child(2){
		display: none;
	}

}

/* Con menos de 1000px de ancho, el header y el footer cambia su distribución, el diseño de
home, turismo, la barra de búsqueda y los contenedores de info y formularios
se adaptan y se reducen datos que se muestran de las tablas*/
@media screen and (max-width: 1000px) {

	body {
		padding-bottom: 144px;
	}

	header {
		flex-direction: column;
	}

	footer {
		flex-direction: column;
		max-height: 144px;
		gap: 10px;
	}

	section.presentacion {
		flex-direction: column;
	}

	section.presentacion img {
		width: 98%;
		order: 1;
	}

	section.presentacion article{
		padding: 5vh 5%;
		width: 98%;
		order: 0;
	}

	section.turismo {
		margin: 0 5%;
	}

	article.articuloTurismo {
		grid-template-areas:
        "tit tit"
        "img tex";
		grid-template-columns: 1fr 1.5fr;
		gap: 3%;
	}

	div.buscador {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 20px 20px;
	}

	div.buscador input{
		grid-column-start: 1;
		grid-column-end: 3;
	}

	div.plaza {
		display: flex;
		flex-direction: column;
	}

	div.contenedorInfo {
		margin: 5vh 15%;
	}

	div.contenedorForm {
		margin: 0 25% 20px;
	}

	div.contenedorOpciones {
		margin: 0 25%;
	}

	
	table.tabla1 tr td:nth-child(3),
	table.tabla1 tr th:nth-child(3){
		display: none;
	}

	table.tabla1 tr td:nth-last-child(3),
	table.tabla1 tr th:nth-last-child(3){
		display: none;
	}

	
}
/* Con menos de 750px de ancho, se reducen datos que se muestran de las tablas*/
@media screen and (max-width: 750px){

	table.tabla1 tr td:nth-child(4),
	table.tabla1 tr th:nth-child(4){
		display: none;
	}

	table.tabla1 tr td:nth-last-child(4),
	table.tabla1 tr th:nth-last-child(4){
		display: none;
	}

}

/* Con menos de 1000px de ancho, el diseño de turismo, la barra de búsqueda 
y los contenedores de info y formularios se adaptan*/
@media screen and (max-width: 650px){

	article.articuloTurismo {
		display: flex;
		flex-direction: column;
		gap: 3vh;
	}

	div.buscador {
		margin: 20px 5%;
	}

	a.linkPlaza {
		max-width: 48%;
	}

	div.contenedorInfo {
		margin: 5vh 5%;
	}
	
	div.contenedorForm {
		margin: 0 20% 20px;
	}

	div.contenedorOpciones {
		margin: 0 10%;
	}


}

/* Con menos de 550px de ancho, los contenedores de info se adaptan 
y se reducen datos que se muestran de las tablas*/
@media screen and (max-width: 550px){

	div.datosInfo {
		flex-direction: column;
	}

	div.datosInfo img{
		width: 90%;
	}

	table.tabla1 tr td:nth-child(5),
	table.tabla1 tr th:nth-child(5){
		display: none;
	}

	table.tabla1 tr td:nth-last-child(5),
	table.tabla1 tr th:nth-last-child(5){
		display: none;
	}

}

