* {
    box-sizing: border-box;
}

a { 
    text-decoration: none;

    
}

body {margin: 0; padding: 0;  width: 100%;
    height: 100vh;}


#todo {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 9fr;
}

nav.barraNav {
    z-index: 1;
    background-color: white;
    position: fixed;
    width: 120px;
    height: 100%;
    box-shadow: 3px 0px 5px gray;
}
 
nav.barraNav ul {
    list-style: none;
    padding-left:0;
    display: flex;
    flex-direction: column;
    text-align: center;
}


nav.barraNav ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#map {
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 100% !important;
}