/* Cargar las fuentes */
@font-face {
	font-family: IBMPlex;
	src: url(IBMPlexMono-Regular.ttf);
}

@font-face {
	font-family: IBMPlex;
	src: url(IBMPlexMono-Bold.ttf);
	font-weight: bold;
}

/* Parámetros generales del estilo */

:root {
    --texto-defecto: white;
    --amarillo-destacado: rgb(255, 221, 28);
    --naranja-principal: rgb(255, 102, 0);
    --naranja-suave: rgb(248, 163, 105);
    --gris-fondo: rgb(58, 58, 71);
    --gris-suave:rgb(137, 137, 168);
    --gris-azulado: rgb(49, 82, 116);
    --tabs-width: 180px;
    --tabs-height: 40px;
}

* {
	font-family: IBMPlex, Consolas, sans-serif;
	box-sizing: border-box;
}

a { 
    text-decoration: none;
    color: var(--texto-defecto);
}

body {
    background-color: var(--gris-fondo);
    color: var(--texto-defecto);
}

/* Header */
header {
    display: flex;
    justify-content: center;
    width: 100%;
}

div.iniciarSesion {
    width: 33%;
    display: flex;
    justify-content: left;
}

div.iniciarSesion * {
    margin: 15px 10px;
}

div.iniciarSesion span, div.iniciarSesion a {
    padding: 12px 0;
}

div.iniciarSesion a:hover {
    font-weight: bold;
    color: var(--amarillo-destacado);
}

div.logocontainer {
    width: 34%;
    text-align: center;
}

img#logo{
    margin: 20px;
    align-content: center;
    filter:drop-shadow(0 0 2px rgb(126, 126, 126));
}

nav.barraNav {
    width: 33%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

nav.barraNav ul {
    width: 100%;
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    
}

nav.barraNav ul li {
    margin: 5px 15px;
}

nav.barraNav ul li a:hover {
    font-weight: bold;
    color:var(--amarillo-destacado);
}

/* Diseño Registrarte / Iniciar sesión */
div.contenedorForm {
    margin: 0 25% 20px;
    text-align: center;
}

div.contenedorForm  input[type=text], div.contenedorForm input[type=password] {
    color: var(--texto-defecto);
    background-color: var(--gris-suave);
    font-size: 1.5em;
    border-radius: 5px;
    margin: 5px;
    width: 300px;
}

img.fotouser {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}


/* Diseño test y preguntas */
div#test {
    text-align: center;
}

a.boton {
    padding: 20px;
    border-radius: 10px;
    color: var(--texto-defecto);
    background-color: var(--naranja-principal);
    box-shadow: 6px 6px 5px black;
}

input.boton {
    padding: 10px;
    border-radius: 5px;
    color: var(--texto-defecto);
    background-color: var(--naranja-principal);
    box-shadow: 6px 6px 5px black;
}

a.boton:hover, input.boton:hover {
    color: black;
    font-weight: bold;
    background-color: var(--naranja-suave);
    box-shadow: 6px 6px 5px rgb(32, 32, 32);
}

section#contenedorTest {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#marcador {
    font-weight: bold;
    text-align: center;
    color:var(--amarillo-destacado);
}

div#sumatorio{
    font-size: 5em;
    margin: 30px;
}

input[type=number] {
    color: var(--texto-defecto);
    background-color: var(--gris-suave);
    font-size: 1.5em;
    border-radius: 5px;
    margin: 5px;
    width: 100px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Página de datos */

div.datosInfo {
    margin: 3vh 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    background-color: rgb(100, 100, 100);
    border: 3px solid rgb(145, 145, 145);
    border-radius: 8px;
}

div.datosInfo ul { 
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 0.2em;
}

img.imagenInfo {
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
}

table.tablaPuntuacion {
    width: 50%;
    margin: 3vh 25%;
	overflow: auto;
}

table.tablaPuntuacion tr th {
    padding: 5px;
    color: var(--amarillo-destacado);
    border-bottom: 2px solid var(--amarillo-destacado);
}

table.tablaPuntuacion tr td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid var(--gris-suave);
}



/* Estilo para las pestañas */

/* Displays del sistema de pestañas */
.tab-content {
    display: none;
}

.tab:target .tab-content, .tab:last-of-type .tab-content {
    display: block;
}

.tab:target ~ .tab:last-of-type .tab-content {
    display: none;
}

/* Cómo posicionar las pestañas */
.tab-container {
    position: relative;
    padding-top: var(--tabs-height);
} 

#tab1>a { --tabs-position: 0; }
#tab2>a { --tabs-position: 1; }
#tab3>a { --tabs-position: 2; }

.tab>a {
    text-align: center;
    position: absolute;
    width: calc(var(--tabs-width));
    height: calc(var(--tabs-height)); 
    top: 0;
    left: calc(var(--tabs-width) * var(--tabs-position));
}

/* Aspecto de las pestañas */
.tabs { 
    padding: 10px;
}
.tab-content {
    background-color: var(--gris-azulado); 
    padding: 20px;
    position: relative;
    z-index: 100;
}

.tab>a {
    color: var(--amarillo-destacado);
    font-weight: bold;
    background-color: var(--gris-fondo); 
    padding: 10px;
}

.tab:target>a, .tab:last-of-type>a {
    background-color: var(--gris-azulado); 
    z-index: 200;
}

.tab:target ~ .tab:last-of-type>a {
    background-color: var(--gris-fondo); 
    z-index: 0; 
}