/* Cargar las fuentes */
@font-face {
	font-family: IBMPlex;
	src: url(IBMPlexMono-Regular.ttf);
}

@font-face {
	font-family: IBMPlex;
	src: url(IBMPlexMono-Bold.ttf);
	font-weight: bold;
}

/* Parámetros generales del estilo */

* {
	font-family: IBMPlex, Consolas, sans-serif;
	box-sizing: border-box;
}

a { 
    text-decoration: none;
    color: white;
}

body {
    background-color: rgb(58, 58, 71);
    color: white;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    
    width: 100%;
}

div.iniciarSesion {
    width: 33%;
    display: flex;
    justify-content: left;
}

div.iniciarSesion * {
    margin: 15px 10px;
}

div.iniciarSesion span, div.iniciarSesion a {
    padding: 12px 0;
}

div.iniciarSesion a:hover {
    font-weight: bold;
    color:rgb(255, 221, 28);
}

div.logocontainer {
    width: 34%;
    text-align: center;
}

img#logo{
    margin: 20px;
    align-content: center;
    filter:drop-shadow(0 0 2px rgb(126, 126, 126));
}

nav.barraNav {
    width: 33%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

nav.barraNav ul {
    width: 100%;
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    
}

nav.barraNav ul li {
    margin: 5px 15px;
}

nav.barraNav ul li a:hover {
    font-weight: bold;
    color:rgb(255, 221, 28);
}

/* Diseño Registrarte / Iniciar sesión */
div.contenedorForm {
    margin: 0 25% 20px;
    text-align: center;
}

div.contenedorForm  input[type=text], div.contenedorForm input[type=password] {
    color: white;
    background-color: rgb(137, 137, 168);
    font-size: 1.5em;
    border-radius: 5px;
    margin: 5px;
    width: 300px;
}

img.fotouser {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}


/* Diseño test y preguntas */
div#test {
    text-align: center;
}

a.boton {
    padding: 20px;
    border-radius: 10px;
    color: white;
    background-color: #F60;
    box-shadow: 6px 6px 5px black;
}

input.boton {
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #F60;
    box-shadow: 6px 6px 5px black;
}

a.boton:hover, input.boton:hover {
    color: black;
    font-weight: bold;
    background-color: rgb(248, 163, 105);
    box-shadow: 6px 6px 5px rgb(32, 32, 32);
}

section#contenedorTest {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#marcador {
    font-weight: bold;
    text-align: center;
    color:rgb(255, 221, 28);
}

div#sumatorio{
    font-size: 5em;
    margin: 30px;
}

input[type=number] {
    color: white;
    background-color: rgb(137, 137, 168);
    font-size: 1.5em;
    border-radius: 5px;
    margin: 5px;
    width: 100px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

