@charset "UTF8";

/* Cargar las fuentes */
@font-face {
	font-family: OpenDislexic;
	src: url(OpenDyslexic3-Regular.ttf);
}

@font-face {
	font-family: OpenDislexic;
	src: url(OpenDyslexic3-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: Roboto;
	src: url(Roboto-Regular.ttf);
}

@font-face {
	font-family: Roboto;
	src: url(Roboto-Bold.ttf);
	font-weight: bold;
}

/* Fuente Roboto y border-box para todos los elementos */
* {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

/* Variables para color */
:root {
    --texto-defecto: white;
    --amarillo-destacado: rgb(255, 221, 28);
    --naranja-principal: rgb(255, 102, 0);
    --naranja-suave: rgb(248, 163, 105);
    --gris-oscuro: rgb(41, 41, 49);
    --gris-fondo: rgb(58, 58, 71);
    --gris-fondo2: rgb(73, 73, 83);
    --gris-suave:rgb(137, 137, 168);
    --gris-azulado: rgb(49, 82, 116);
}

/* El estilo está orientado a ordenadores de escritorio (Desktop first).
	Este es el diseño común. Más adelante, se realizan ajustes para que sea
	responsive.
	Nos aprovecharemos de la prioridad en cascada para que los estilos prioritarios
	sean los de pantallas más reducidas
 */
@media screen {

	/* Ajustes generales */
	html,
	body {
		margin:0;
		padding:0;
		background-color: var(--gris-fondo);
		min-height: 100vh;
	}

	body {
		position: relative;
		padding-bottom: 76px;
	}
	
	#todo {
		margin: 0 auto;
	}

	.contenido{
		background-color:var(--gris-fondo);
		color: white;
		padding: 0 0;
	}

	p {
		margin:0px;
		padding:0px;
	}
	
	ul {
		padding-left: 5px;
	}
	

	/* Header, título y logo  */
	header {
		background-color: var(--gris-oscuro);
		min-height:50px;
		padding: 5px 10% 5px;
		border-top:20px solid var(--naranja-principal);
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
	}

	div.logocontainer {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: left;
	}
	
	header .logo {
		padding:10px;
	}

	header .logo img{
		width: 200px;
	}
	
	/* Barra de navegación */
	nav.barraNav > ul {	
		list-style-type:none;
		margin:0;
		padding:0;
		margin-bottom:0.2em;
		display:flex;
		flex-direction: row;

	}
	
	nav.barraNav ul li {
		margin: 0 10px;
		text-decoration: none;
		list-style-type: none;
	}

	nav.barraNav ul li:hover {
		font-weight: bold;
	}
	
	nav.barraNav li a {	
		display: block;
		text-decoration:none;
	    color: #b3b3b3;
	    text-align:center;
	    line-height:40px;    
	}
	
	nav.barraNav li a:hover {
		text-decoration: none;
	    color: var(--amarillo-destacado);
	}
	
	nav.barraNav li a:active, nav.barraNav li a:focus, nav.barraNav li a:visited {
		text-decoration:none;
	}

	/* Menú desplegable */
	
	img.icon-menu {
		display:none;
		width: 40px;
		margin: 10px;
		cursor: pointer;
	}
	
	img.icon-menu:hover{
		filter:drop-shadow(0 0 2px rgb(255, 255, 255));
	}

	input#boton-menu {
		display: none;
	}
	
	input#boton-menu:checked ~ div.container-menu {
		opacity: 1;
		visibility: visible;
	}

	nav.barraLat {
		transform: translateY(15%);
		z-index: 3;
	}
	
	nav.barraLat a {
		display: block;
		color: var(--texto-defecto);
		text-decoration: none;
		align-content: center;
		padding: 20px;
		z-index: 3;
	}
	
	nav.barraLat a:hover {
		font-weight: bold;
		color:var(--amarillo-destacado);
		border-left: 3px solid var(--naranja-principal);
		background-color: var(--gris-suave);
	}
	
	
	div.container-menu {
		position: absolute;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		transition: all .5s ease;
		opacity: 0;
		visibility: hidden;
		z-index: 3;
	}
	
	div.cont-menu {
		position: relative;
		width: 100%;
		max-width: 300px;
		height: 100vh;
		background-color: var(--gris-fondo2);
		border-right: 1px solid var(--gris-suave);
		transition: all .2s ease;
		transform: translateX(-100%);
		z-index: 3;
	}
	
	input#boton-menu:checked ~ div.container-menu div.cont-menu {
		transform: translateX(0%);
	}

	label.icon-x {
		color: var(--texto-defecto);
		position: absolute;
		right: 10px;
		top:10px;
		cursor: pointer;
		font-weight: bold;
		z-index: 3;
	}
	
	label.icon-x:hover {
		filter:drop-shadow(0 0 2px var(--gris-suave));
	}

	/* Pié de página*/

	footer {
		position: absolute;
  		bottom: 0;
		width: 100%;
		max-height: 76px; 
		background-color:var(--naranja-suave);
		padding: 15px 5px;
		text-align: center;
		font-size: smaller;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		
	}
	
	/* Empecemos */
	article h1, article h2{
		text-align: center;
	}

	/* Hay inputs que tienen la propiedad readonly por necesidad.
		Aquí se define el estilo para que no parezcan inputs*/
	input.camuflaje[id=personas] {
		width: 2em;
	}
	
	input.camuflaje[id=precio_total] {
		width: 5em;
	}

	input.camuflaje[readonly] {
		text-align: center;
		font-weight: bold;
		font-size: 1.5em;
		background-color: transparent;
		color: black;
		border: none;
	}

	/* Definición del estilo de las opciones de Index */

	div.contenedorOpciones {
		text-align: center;
		border: 1px solid var(--gris-suave);
		border-radius: 10%;
		margin: 0 35%;
		padding: 10px;
		display: flex;
		flex-direction: column;
		background-color: #c2ffd3;
		box-shadow: inset 15px 15px 20px -14px rgba(255,255,255,1), inset -15px -15px 20px -22px rgba(0,0,0,1);;

	}

	div.opciones {
		width: 100%;
		border: 1px solid var(--gris-suave);
		border-radius: 10%;
		margin: 0 auto;
		padding: 10px;
		background-color: white;
		
	}

	/* Contenedor para datos de los cruds*/
	div.datosCrud {
		margin: 2vh 0 4vh;
	}

	/* Definición del estilo de los formularios */
	
	div.contenedorForm {
		margin: 0 35% 20px;
	}

	div.contenedorForm h2 {
		text-align: center;
	}

	div.contenedorForm form{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: left;
		gap: 10px;
	}


	/* Definición del estilo de la información */

	div.contenedorInfo {
		display: flex;
		flex-direction: column;
		gap:10px;
		justify-content: center;
		align-items: center;
		border-radius: 8px;
		background-color: #f88e2a;
		box-shadow: inset 5px 5px 5px -5px rgba(255,255,255,1), inset -5px -5px 5px -5px rgba(0,0,0,1);
		margin: 3vh 25%;
		padding: 10px;
	}

	div.contenedorInfo h2{
		margin: 0;
		padding: 0;
	}

	div.datosInfo {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding: 10px 20px;
		background-color: var(--gris-fondo2);
		border: 1px solid var(--gris-suave);
		border-radius: 8px;
	}

	div.datosInfo2 {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 10px 20px;
		background-color: var(--gris-fondo2);
		border: 1px solid var(--gris-suave);
		border-radius: 8px;
	}

	div.datosInfo ul, div.datosInfo2 ul { 
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: left;
		gap: 0.2em;
	}

	img.imagenInfo {
		width: 30%;
		aspect-ratio: 1/1;
		margin: 10px;
	}


	/* Estilos para casos de error */
	.error{
		border: red thin solid;
		background-color:#ffb1c7;
		color: red;
		display: inline;
	}

	article.pantallaError {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#logo_pag_error{
		width: 100px;
		height: 100px;
	}
	#mensaje_pag_error{
		font-size: x-large;
	}

	article div.par{
		background-color: #52e0cb;
		color:black;
	} 
	 
	article div.impar{
		background-color: blue;
		color:white;
	} 
	
	
	/* Mismo estilo para (casi) todos los botones */
	
	button, input[type=button], input[type=submit]{
		margin: 5px 10px;
		padding: 10px;
		border: none;
		border-radius: 5px;		
		background-color: var(--naranja-principal);
		color: var(--texto-defecto);
		font-weight: bold;
	}

	button:hover, input[type=button]:hover, input[type=submit]:hover  {
		background-color: var(--naranja-suave);
	}

	button:disabled ,input[type=button]:disabled, input[type=submit]:disabled{	
		background-color: #727272;
	}

	button:hover:disabled,
	input[type=button]:hover:disabled,
	input[type=submit]:hover:disabled  {
		background-color: #929292;
	}


	/* Definiciones para el objeto CPager*/

	.pager{
		background-color: var(--naranja-suave);
		color:black;
		padding: 5px;
		margin: 0 5%;
		min-width: 90%;
	}
	
	.pager .izq{
		float: left;
		/*width: 40%;*/
		padding-left: 5px;
		color: black; 
	}
	
	.pager .der{
		float: right;
		/*width: 58%;*/
		text-align: right;
		padding-right: 5px;
	}
	
	.pager .der a{
		text-decoration: none;
		color:var(--texto-defecto);
		padding-left: 10px;
	}
	.pager .der a:hover{
		text-decoration: none;
		color:blue;
	}
	
	.pager .final{
		clear: both;
	}
	
	/* Definiciones de tabla para el objeto CGrid con el estilo por defecto clase tabla
	 */
	
	div.tabla{
        width: 100%;
		overflow: auto;
	}
	div.tabla table.tabla{
		background-color:rgb(119, 255, 185);
		border-collapse: collapse;
	}
	
	div.tabla table.tabla th{
		background-color: rgb(119, 255, 185);
		color:white;
	}
	
	div.tabla table.tabla tr.par{
		background-color: #ede6d8;
		color:black;
	}
	div.tabla table.tabla tr.impar{
		background-color: #f7eabf;
		color:black;
	}
	
	div.tabla table.tabla tr td{
		padding: 2px;
	}

	img.icon-tabla{
		width: 24px;
		height: 24px;
	}
	
	/*
	 * Definiciones de tabla para el objeto CGrid con estilo propio
	 */
	table.tabla1{
		margin: 0 5%;
		min-width: 90%;
		background-color: #b6c7cd;
		border-collapse: collapse;
	}
	
	table.tabla1 th{
		background-color: var(--naranja-principal);
		color: var(--texto-defecto);
		padding: 10px;
	}
	
	table.tabla1 tr.par{
		background-color: #fdfdfd;
		color:black;
	}
	table.tabla1 tr.impar{
		background-color: #ffe8ce;
		color:black;
	}
	
	table.tabla1 tr td{
		padding: 5px 10px;
	}

	.pager {
		margin: 10px 5%;
	}
	

	/*
	 * Definiciones de estilo para el objeto CCaja con estilo propio
	 */

	.caja{
		background-color: var(--naranja-suave);
		border-radius: 5px;
		margin: 20px auto 0;
	}
	.caja tbody .titulo{
		margin: 10px;
	}

	.caja tbody .titulo th{
		padding: 0 10px;
	} 
	.caja tr.cuerpo{
		background-color: rgb(238, 238, 238);
		color: black;
	}

	.caja .cuerpo td {
		padding: 10px;
		text-align: center;
		line-height: 1.8;
	}

	.caja .cuerpo td input, .caja .cuerpo td select{
		margin: 0 5px;
	}

	.cimg
	{
		color: rgb(245, 104, 69);
		background-color: #cfdfee;
		border: 2px solid black;
	}
	.cimg .cimg_tit
	{
		text-align: center;
		font-weight: bold;
		font-style: italic;
		font-size: medium;
	}

	

	/* Definición de aside (legado de anteriores versiones)*/
	aside {
		background: #fff4df;   
	    margin: 0 auto; 
	    /*max-width: 200px; */
	    border-top: solid thin black;
		border-bottom: solid thin black;
	    flex: 1 1 20%; 
	}

	aside.ubicacion {
		border: 0;
		background-color: rgb(238, 238, 238);
		padding:5px 5%;
	}

	/* Definición del separador
	*/

	hr.separador {
		width: 100%;
		border: 4px solid var(--naranja-principal);
		margin: 13px 0;
	}


}

/* Ajustes de tamaño añadidos al estilo anterior */
/* Con menos de 1200px de ancho, las plazas en reservas se muestran 
de tres en tres, se reduce el margen de contenedorInfo y se reducen datos que
se muestran de las tablas*/
@media screen and (max-width: 1200px) {


	div.contenedorInfo {
		margin: 5vh 20%;
	}

	
	table.tabla1 tr td:nth-child(2),
	table.tabla1 tr th:nth-child(2){
		display: none;
	}

	table.tabla1 tr td:nth-last-child(2),
	table.tabla1 tr th:nth-last-child(2){
		display: none;
	}

}

/* Con menos de 1000px de ancho, el header y el footer cambia su distribución, el diseño de
home, turismo, la barra de búsqueda y los contenedores de info y formularios
se adaptan y se reducen datos que se muestran de las tablas*/
@media screen and (max-width: 1000px) {

	body {
		padding-bottom: 144px;
	}

	header {
		flex-direction: column;
	}

	footer {
		flex-direction: column;
		max-height: 144px;
		gap: 10px;
	}

	div.contenedorInfo {
		margin: 5vh 15%;
	}

	div.contenedorForm {
		margin: 0 25% 20px;
	}

	
	table.tabla1 tr td:nth-child(3),
	table.tabla1 tr th:nth-child(3){
		display: none;
	}

	table.tabla1 tr td:nth-last-child(3),
	table.tabla1 tr th:nth-last-child(3){
		display: none;
	}

	
}
/* Con menos de 750px de ancho, se reducen datos que se muestran de las tablas*/
@media screen and (max-width: 750px){

	nav.barraNav {
		display: none;
	}
	
	img.icon-menu {
		display:block;
	}

	table.tabla1 tr td:nth-child(4),
	table.tabla1 tr th:nth-child(4){
		display: none;
	}

	table.tabla1 tr td:nth-last-child(4),
	table.tabla1 tr th:nth-last-child(4){
		display: none;
	}

}

/* Con menos de 1000px de ancho, el diseño de turismo, la barra de búsqueda 
y los contenedores de info y formularios se adaptan*/
@media screen and (max-width: 650px){

	div.contenedorInfo {
		margin: 5vh 5%;
	}
	
	div.contenedorForm {
		margin: 0 20% 20px;
	}


}

/* Con menos de 550px de ancho, los contenedores de info se adaptan 
y se reducen datos que se muestran de las tablas*/
@media screen and (max-width: 550px){

	div.datosInfo {
		flex-direction: column;
	}

	div.datosInfo img{
		width: 90%;
	}

	table.tabla1 tr td:nth-child(5),
	table.tabla1 tr th:nth-child(5){
		display: none;
	}

	table.tabla1 tr td:nth-last-child(5),
	table.tabla1 tr th:nth-last-child(5){
		display: none;
	}

}

